.package-base {
  background-color: white;
  border-color: black;
  margin-left: 4px;
  margin-right: 4px;
  border: 2px solid;
  max-width: 100%;

  max-width: 100%;
}

.package-card {
  @extend .package-base;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.package-header {
  @extend .package-base;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
