@import "../../variables.scss";

.package-base {
  @extend .ms-1;
  @extend .me-1;
  background-color: white;
  border-color: black;
  border: 2px solid;
}

.depedency-container {
  background-color: #ffc3c3;
}

.prefix-color {
  color: orangered;
}

.card-container:hover .package-header {
  background-color: lightblue;
}

.package-card {
  @extend .package-base;
}

.package-header {
  @extend .package-base;
}

.dependency-info {
  color: gray;
}
