@import "../../variables.scss";

.grid-styling {
  background-color: lightgray;
  border-color: black;
  border: 2px solid;
  overflow-y: auto;
  overflow-x: auto;
}

.grid-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border: 2pt solid transparent;
  border-radius: 3pt;
}
