<div class="container">
  <h2>NPM Packages Data</h2>
  <div class="d-flex flex-row align-items-center w-50">
    <form class="w-100" [formGroup]="filterForm">
      <mat-form-field class="w-100 m-1">
        <input subscriptSizing="dynamic" matInput placeholder="Write package name here to search" formControlName="searchQuery" />
      </mat-form-field>
    </form>
    <button mat-fab class="ms-2 h-50" (click)="refresh()">
      <mat-icon aria-hidden="false" fontIcon="refresh"></mat-icon>
    </button>
  </div>

  <app-package-card [npmPackages]="selectedPackages" [depedencyPackageNames]="depedencyPackageNames" (hoveredName)="onCardHover($event)">
  </app-package-card>
</div>
